apiVersion: v1 
kind: List
items:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: prometheus-server-conf
    labels:
      name: prometheus-server-conf
    namespace: monitoring
  data:
    prometheus.rules: |-
      groups:
      - name: devopscube demo alert
        rules:
        - alert: High Pod Memory
          expr: sum(container_memory_usage_bytes) > 1
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: High Memory Usage
    prometheus.yml: |-
        SOMETHING TO APPEND...



- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: alertmanager-server-conf
    namespace: monitoring
  data:
    alertmanager.yml: |
        SOMETHING TO APPEND...                