server:
  port: 8989
spring:
  kafka:
    producer:
      bootstrap-servers: kafka:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
app:
  version: 1.0
  env: local
kafka_host: ${KAFKA_BOOTSTRAP_SERVER}
